.example-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.example-header-image {
    background-size: cover;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}