.example-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.example-header-image {
    background-size: cover;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}
.container {
  text-align: center;
}

.custom-border-card {
  float: 1 0 25%;
  border: 2px solid #E74535;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
  padding: 10px;
  text-align: center;
  align-items: center;
  height: 60vh;
  width: 23%;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  padding-left: 4%;
  padding-right: 3%;
}

.mat-img {
  max-width: 100% !important;
  height: 30vh !important;
}

.custom-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom-card-title {
  text-align: center;
}

.custom-card-subtitle {
  text-align: center;
}

.mat-card-content {
  overflow-y: auto;
  flex-grow: 1;
}

.mat-card-actions {
  margin-top: auto;
  padding: 8px;
}

button.custom-icon-button {
  background-color: transparent;
  color: #ff2929;
  width: 48px;
  height: 48px;
  border: 0;
}

button.custom-icon-button:hover {
  color: rgb(13, 0, 255) !important;
}

.profile-actions {
  margin-top: auto;
  padding: 8px;
}

@media (max-width: 768px) {
  .card-container {
    padding: 5px;
    font-size: 7px;
    width: 45% !important;
    height: 40vh !important;
  }

  .custom-card-title {
    font-size: 12px;
    padding-top: 0px;
  }

  .custom-card-subtitle {
    font-size: 10px;
  }

  .custom-border-card {
    margin: 5px;
  }
}


.special-card .custom-border-card {
  border: 2px solid blue;
  background-color: #f0f0f0;
}
