<mat-card class="profile-card">
  <div class="profile-image image-container">
    <img [src]="profilePhotoUrl" alt="Profile image" (click)="fileInput.click()" class="hover-image">
  </div>
  <div class="lines-container">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="profile-content">
    <h1>{{profileCardUser.name}}</h1>
    <h2>{{profileCardUser.description}}</h2>
    @if(profileCardUser.phone){
    <h3>Telefon: {{profileCardUser.phone}}</h3>
    }
    <h3>Email: {{profileCardUser.email}}</h3>
    @if(profileCardUser.status){
    <h3>Curent status: {{profileCardUser.status}}</h3>
    }
    <h3><a mat-raised-button href={{profileCardUser.website}}>Check more about me here</a></h3>
    <div class="profile-actions">
      <button mat-raised-button color="warn" (click)="generateCV(profileCardUser)">Download CV</button>
      @if(isOwner()||hasRole('ADMIN'){
      <button mat-raised-button color="primary" (click)="openDialog(profileCardUser)">Edit</button>
      }
    </div>
    <div>
      <input type="file" (change)="onFileSelected($event)" #fileInput hidden>
      <!-- <button mat-raised-button color="primary" (click)="onUpload()">Upload</button> -->
    </div>
  </div>
</mat-card>