<mat-toolbar color="warn" class="app-toolbar desktop-toolbar">
  <a href="/" class="navbar-brand">
    <img src="http://localhost:8081/files/view/logo_no_bg.png" alt="Logo" class="logo-light"
         style="width: 50px; height: 50px;">
  </a>

  <nav class="main-menu">
    @if(tokenService.token){
    <button mat-button class="menu-item" routerLink="/profile" routerLinkActive="active">My profile</button>
    <button mat-button class="menu-item" routerLink="/jobs" routerLinkActive="active">Jobs</button>
    <button mat-button class="menu-item" routerLink="/users" routerLinkActive="active">Users</button>
    <button mat-button class="menu-item" routerLink="/companies" routerLinkActive="active">Companies</button>
    <button mat-button class="menu-item" routerLink="/bibliographies" routerLinkActive="active">Bibliographies</button>
    }
  </nav>
  @if(tokenService.token){
    <button mat-button class="cta-button" (click)="logout()">Logout</button>
  }
</mat-toolbar>

<div class="nav">
  @if(tokenService.token){
  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="mobile-menu-trigger warn">
    <mat-icon>menu</mat-icon>
  </button>
}
  <mat-menu #mobileMenu class="mobile-menu">
    @if(tokenService.token){
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">
      <div class="item">
        <mat-icon>person</mat-icon>
        <span>My profile</span>
      </div>
    </button>
    <button mat-menu-item routerLink="/jobs" routerLinkActive="active">
      <div class="item">
        <mat-icon>workjob</mat-icon>
        <span>Jobs</span>
      </div>
    </button>
    <button mat-menu-item routerLink="/users">
      <div class="item">
        <mat-icon>groups</mat-icon>
        <span>Users</span>
      </div>
    </button>

    <button mat-menu-item routerLink="/companies">
      <div class="item">
        <mat-icon>build</mat-icon>
        <span>Companies</span>
      </div>
    </button>

    <button mat-menu-item routerLink="/bibliographies" routerLinkActive="active">
      <div class="item">
        <mat-icon>book</mat-icon>
        <span>Bibliographies</span>
      </div>
    </button>
  }
  </mat-menu>
</div>
