<div class="slider-effectCoverFlow">
    <h1><b>Recomandari</b><button mat-icon-button class="custom-icon-button" (click)="openDialog(referals)">
      <mat-icon>add</mat-icon>
    </button></h1>
    <swiper
      [effect]="'coverflow'"
      [grabCursor]="true"
      [centeredSlides]="true"
      [slidesPerView]="'auto'"
      [coverflowEffect]="{
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }"
      [pagination]="true"
      [navigation]="true"
      class="mySwiper"
    >
    <ng-container *ngFor="let referal of referals">
        <ng-template swiperSlide>
            <mat-card>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-title style="text-align: center;">{{referal.teacher.name}}
                </mat-card-title>
                <mat-card-subtitle style="text-align: center;">{{referal.teacher.role}} </mat-card-subtitle>
                <mat-card-subtitle style="text-align: center;">{{referal.teacher.email}}</mat-card-subtitle>
                <mat-card-content>
                <br>
                  <p>
                    {{referal.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-icon-button class="custom-icon-button" (click)="deleteAcreditare(referal.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                </mat-card-actions>
              </mat-card>
        </ng-template>
      </ng-container>
    </swiper>
  </div>