<div class="container">
    <h1><b>Language</b>
      <button mat-icon-button class="custom-icon-button" (click)="openDialog(emptyLanguage)">
      <mat-icon>add</mat-icon>
    </button></h1>
    <br>
    <table mat-table [dataSource]="languageData" class="mat-elevation-z8">
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> Language </th>
        <td mat-cell *matCellDef="let element" [style.bold] [style.font-size]="fontSize"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="conversation">
        <th mat-header-cell *matHeaderCellDef  [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> Conversation </th>
        <td mat-cell *matCellDef="let element" [style.font-size]="fontSize"> {{element.conversation}} </td>
      </ng-container>
      <ng-container matColumnDef="listening">
        <th mat-header-cell *matHeaderCellDef  [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> Listening </th>
        <td mat-cell *matCellDef="let element" [style.font-size]="fontSize"> {{element.listening}} </td>
      </ng-container>
      <ng-container matColumnDef="reading">
        <th mat-header-cell *matHeaderCellDef  [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> Reading </th>
        <td mat-cell *matCellDef="let element" [style.font-size]="fontSize"> {{element.reading}} </td>
      </ng-container>
      <ng-container matColumnDef="speaking">
        <th mat-header-cell *matHeaderCellDef  [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> Speaking </th>
        <td mat-cell *matCellDef="let element" [style.font-size]="fontSize"> {{element.speaking}} </td>
      </ng-container>
      <ng-container matColumnDef="writing">
        <th mat-header-cell *matHeaderCellDef  [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> Writing </th>
        <td mat-cell *matCellDef="let element" [style.font-size]="fontSize"> {{element.writing}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef  [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"> </th>
        <td mat-cell *matCellDef="let element" [style.font-size]="fontSize">
          <button mat-icon-button class="custom-icon-button" (click)="openDialog(element)">
            <mat-icon>update</mat-icon>
          </button>
          <button mat-icon-button class="custom-icon-button" (click)="deleteLanguage(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" [style.font-size]="fontSize" [style.background-color]="color" [style.color]="textColor"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
