<ng-container *ngIf="error == null">
  <app-profile-card [profileCardUser]='user'></app-profile-card>
  <app-experience [userExperiences]='user'></app-experience>
  <app-projects-carousel [userExperiences]='user'></app-projects-carousel>
  <app-skill-circular-progressbar [user]='user'></app-skill-circular-progressbar>
  <app-language-table [languages]='user.languages'></app-language-table>
  <app-acreditare-card></app-acreditare-card>
  <app-referal></app-referal>
</ng-container>
<ng-container *ngIf="error != null">
  <p>Error: {{error}}</p>
  <p>Please check the console</p>
</ng-container>