<h1 mat-dialog-title>Add New Referal</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content">
    <div class="large-input-container">
      <mat-form-field appearance="fill" class="large-input-field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="form.get('title')?.errors?.['required']">Referral title is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="large-input-field">
        <mat-label>Refferal</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="form.get('description')?.errors?.['required']">Referral description is required</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button color="primary" [disabled]="!form.valid">Add</button>
    </div>
  </form>
</div>