<mat-card class="profile-card">
  <div class="profile-image">
    <img src="{{company?.logoUrl}}" alt="{{company?.name}}">
  </div>
  <div class="lines-container">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="profile-content">
    <h1>{{company?.name}}</h1>
    @if(company?.description){
    <h2>About us: {{company?.description}}</h2>
    }
    @if(company?.address){
    <h2>Address: {{company?.address}}</h2>
    }
    <h2>Rating: <igc-rating [value]='rating.averageRating' min="0" max="5" readonly size="medium"
        hover-preview></igc-rating>
      ({{rating.averageRating??0}}/{{rating.totalRatings}} reviews)</h2>
    <h3>For more informations, please <a mat-raised-button href="{{company?.website}}">check the {{company?.name}}
        website</a></h3>
    <div class="profile-actions">
      <button mat-raised-button color="warn" (click)="openDialog(company)">Edit</button>
    </div>
  </div>
  <div class="section">
    <h1>COMPANY</h1>
  </div>
</mat-card>