<h1 style="text-align: center;"><b>Reviews</b>
  <button mat-icon-button color="warn" (click)="openDialog(emptyReview)">
    <mat-icon>add</mat-icon>
  </button>
</h1>
@if(reviews && reviews.length > 0){
<br>
<mat-card *ngFor="let review of reviews; let i = index">
  <div class="card">
    <div class="title">
      <mat-card-title>{{ review.position }}</mat-card-title>
      <mat-card-subtitle>Type: {{ review.type }}</mat-card-subtitle>
      <igc-rating [value]='review.rating' min="0" max="5" readonly size="medium" hover-preview></igc-rating>
    </div>
    <div class="content">
      <mat-card-content>{{ review.description }}</mat-card-content>
    </div>
    <mat-card-actions class="actions">
      <button mat-button color="warn" (click)="deleteReview(review)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
<br>
}