<!-- <p>Reviews</p>
<mat-card *ngFor="let review of reviews; let i = index" class="experience-card" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
    <div class="card-content">
      <img mat-card-image src='' (error)="onImageError($event,experience.type)" alt="experience image">
      <div class="experience-details">
        <mat-card-title>{{ experience.title}}</mat-card-title>
        <mat-card-subtitle>{{experience.type}}</mat-card-subtitle>
        <mat-card-content>{{ experience.date}}</mat-card-content>
        <mat-card-content>{{ experience.description}}</mat-card-content>
        <a [href]="experience.url">See more details</a>
        <p>
          <button mat-icon-button class="custom-icon-button" (click)="openDialog(experience)">
            <mat-icon>update</mat-icon>
          </button>
          <button mat-icon-button class="custom-icon-button" (click)="deleteExperience(experience)">
            <mat-icon>delete</mat-icon>
          </button>
        </p>
      </div>
      
    </div> -->