.card-container {
    padding: 10px;
  }
  
  .mat-card {
    margin: 10px;
  }
  @media (max-width: 768px) {
    .card-container {
      padding: 5px; 
    }
  
    .mat-card {
      margin: 5px;
    }
  }
  .card-container mat-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 40vh;
  }
  
  .card-container img {
    width: 100%; 
    object-fit: cover; 
    height: 30%; 
  }
  
  .mat-card-content {
    overflow-y: auto;
    flex-grow: 1;
  }
  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  .container{
    text-align: center;
  }
  .custom-border-card {
    border: 2px solid #E74535; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  button.custom-icon-button {
    background-color: transparent; 
    color: #ff2929;              
    //border-radius: 50%;        
    width: 48px;               
    height: 48px; 
    border: 0px;            
    //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); 
    //transition: background-color 0.3s; 
  
  button.custom-icon-button:hover {
    //background-color: #f9ff53; 
    color: rgb(66, 4, 101)!important;
  }
  }