<h1><b>Education</b>
  <button mat-icon-button (click)="openDialog(emptySpecialization)" class="custom-icon-button">
    <mat-icon>add</mat-icon>
  </button>

  @for (specialization of sortedSpecializations; track $index) {
  <mat-card class="custom-card">
      <div class="card-content">
        <div class="right-container">
        <div class="image-container flex-column">
          <img mat-card-image src="http://localhost:8081/files/view/universitate.jpg" alt="University logo" style="width:100px">
           <mat-card-title>{{ specialization?.faculty?.name }}</mat-card-title>
          </div>
          </div>
          <div class="left-container">
          <div class="text-container flex-column">
            <mat-card-title>{{  specialization.name }}</mat-card-title>
            <mat-card-subtitle> {{ specialization.startedDate }} - {{specialization.finishedDate}}</mat-card-subtitle>
            <mat-card-subtitle>Degree: {{ specialization.degree }}</mat-card-subtitle>
            <mat-card-actions styele="align-items:center">
              <button mat-icon-button (click)="openDialog(specialization)" class="custom-icon-button">
                <mat-icon>update</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteSpecialization(specialization)" class="custom-icon-button">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </div>
        </div>
        </div>
      </mat-card>
  }
