.skill {
    display: inline-block;
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  svg {
    margin-bottom: 5px;
  }
  .faded-stroke {
    opacity: 0.5;
  }
  button.custom-icon-button {
  background-color: transparent; 
  color: #ff2929;            
  width: 48px;               
  height: 48px; 
  border: 0px;            

button.custom-icon-button:hover {
  color: rgb(66, 4, 101)!important;
}
}