<div class="container">
  <br>
<h1><b>Experience</b><button mat-icon-button class="custom-icon-button" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button></h1>
<br>
<div class="timeline">
    <div *ngFor="let experience of experiences" class="timeline-event">
          <div class="timeline-company">
            <img src="{{experience.company.logoUrl}}" alt="company logo" class="timeline-company-logo" style="width: 48px;">
            <br>
            <span class="timeline-date">  {{experience.company.name}}</span>
          </div>
          <div class="timeline-point-track-container">
            <div class="timeline-point"></div>
            <div class="timeline-track"></div>
          </div>
          <div class="timeline-content">
            <span style="font-size: 20px;"><b>{{ experience.position}}</b></span>
            <br>
            <span class="timeline-date">{{ experience.startDate }} - {{experience.endDate}}</span>
            <br>
            <span>{{ experience.description }}</span>
            <br>
            <button mat-icon-button class="custom-icon-button" (click)="openDialog()">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button class="custom-icon-button" (click)="openDialog()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
    </div>
</div>
</div>